/* This will apply all included styles to the header element */
header{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #999;
}

/* This will apply all included styles to any element which uses the "logo" class*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -75px;
}

/* This will apply any included styles to the body element */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #999;
}

/* Create your own classes below! */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 3px solid #999;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #111;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #333;
}


p {
    text-align: center;
    width: 400px;
    border: solid 1px #111;
    border-radius: 5px;
    padding: 20px 200px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #999FFF;
}


.text-box {
    background-color: beige;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.flex-container p {
    width: 100vh;
    padding: 20px;
}


.center-box {
    color: #999FFF;
    background-color: #111;
    height: auto;
}


img {
    height: 350px;
    object-fit: fill;
}


.div-one {
    height: 100vh;
    width: 100vh;
    background-color: #888FFF;
}


.div-two {
    height: 100vh;
    background-color: #777FFF;
    width: 100vh;
}


.div-three {
    background-image: url('../images/coffee.jpg');
    float: center;
    height: 55vw;
    width: 85%;
    margin: 50px 100px;
}


.div-four {
    background-image: url('../images/coffee.jpg');
    float: center;
    height: 426px;
    width: 640px;
}


.div-five {
    background-image: url('../images/coffee.jpg');
    float: center;
    height: 1000px;
    width: 1350px;
    background-size: 1350px 1000px;
}